* {
    margin: 0;
}

html, body {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    overflow: hidden;
}

svg {
    height: 100%;
    width: 100%;
}

h1 {
    font-weight: 700;
    font-size: 1.1rem;
}

.arrow_back {   
    width: 32px;
    height: 32px;
    margin-left: 24px;
    margin-right: 16px;
    display: flex !important;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 15px;
}

.container-main{
    height: 100%;
    width:80%;
    background-color:white;
}

.lectureTitle {
    height: 7%;
    background-color: white;

    border-bottom: .1rem solid hsla(0, 0%, calc(82.8% * var(--theme-brightness, 1) + 20.932% * (1 - var(--theme-brightness, 1))), 1);
    display: flex;
    flex-direction: row;
    align-items: center;
}

.wrapper-diagram {
    height: 88%;
    margin:24px;
    border:1px solid black;
    box-shadow: 5px 5px 10px lightgrey;
}

.container-aside {
    height: 100%;
    width: 20%;
    background-color:blue;
}

.group rect {
    opacity: 0.5;
}

.node,
.group rect {
    cursor: move;
}

.link text {
    cursor: default;
}

.node rect,
.group rect {
    stroke: #fff;
    stroke-width: 1.5px;
}

.node text {
    font-size: 10px;
}

.link line {
    stroke: #7a4e4e;
    stroke-width: 3px;
    stroke-opacity: 1;
}

.link text {
    font-size: 7px;
}

.link text:hover tspan,
.link text.hover tspan {
    fill: #00B0E8;
    font-weight: bold;
    visibility: visible !important;
}

.link text.hover tspan {
    font-size: 10px;
}

.link line:hover {
    stroke: #00B0E8;
}

.tooltip {
    font-size: 12px;
    font-weight: bold;
}

.tooltip path {
    stroke: #e2ddd9;
    stroke-width: 3px;
}

.tooltip .name {
    fill: #8d7966;
}


.loopback,
.interface {
    fill: #333;
}


#TEST {
    background-color: black;
    transform: translate(-500px,-250px) scale(1.62001);

}
#diagram {
    height: 100%;
    width: 100%;
}